In [2]:

import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline
import matplotlib as mpl
mpl.rcParams.update(mpl.rcParamsDefault)
import os
import json
import ast

In [3]:
restaurants_usa = pd.read_csv(r"../../data/raw/web scrapping data/restaurants.csv")
restaurants_tampa = pd.read_parquet(r"../../data/raw/yelp/bussines_processed.parquet")

In [4]:
# Para eliminar las columnas 'lat', 'lng' y 'zip_code'
restaurants_usa.drop(columns=['lat', 'lng', 'zip_code'], inplace=True)

In [5]:
restaurants_usa.drop(columns=['full_address','ratings','position','score' ], inplace=True)

In [6]:
print(restaurants_usa)

          id                                            name  \
0          1               PJ Fresh (224 Daniel Payne Drive)
1          2                  J' ti`'z Smoothie-N-Coffee Bar
2          3  Philly Fresh Cheesesteaks (541-B Graymont Ave)
3          4         Papa Murphy's (1580 Montgomery Highway)
4          5                Nelson Brothers Cafe (17th St N)
...      ...                                             ...
63464  63465                           IHOP (4321 N 10th St)
63465  63466                       Feldman's - N 10th Street
63466  63467                           Feldman's - N 23rd St
63467  63468           Church's Chicken (620 S. 10th Street)
63468  63469                       7-Eleven (1600 S 23rd St)

                                                category price_range
0                          Burgers, American, Sandwiches           $
1       Coffee and Tea, Breakfast and Brunch, Bubble Tea         NaN
2             American, Cheesesteak, Sandwiches, Alcohol           $
3                                                  Pizza           $
4              Breakfast and Brunch, Burgers, Sandwiches         NaN
...                                                  ...         ...
63464  American, Breakfast and Brunch, burger, Comfor...           $
63465                                                NaN         NaN
63466                                                NaN         NaN
63467                            Fast Food, Family Meals           $
63468  Everyday Essentials, Convenience, Home &amp; P...           $

[63469 rows x 4 columns]

In [7]:
print(restaurants_usa)

          id                                            name  \
0          1               PJ Fresh (224 Daniel Payne Drive)
1          2                  J' ti`'z Smoothie-N-Coffee Bar
2          3  Philly Fresh Cheesesteaks (541-B Graymont Ave)
3          4         Papa Murphy's (1580 Montgomery Highway)
4          5                Nelson Brothers Cafe (17th St N)
...      ...                                             ...
63464  63465                           IHOP (4321 N 10th St)
63465  63466                       Feldman's - N 10th Street
63466  63467                           Feldman's - N 23rd St
63467  63468           Church's Chicken (620 S. 10th Street)
63468  63469                       7-Eleven (1600 S 23rd St)

                                                category price_range
0                          Burgers, American, Sandwiches           $
1       Coffee and Tea, Breakfast and Brunch, Bubble Tea         NaN
2             American, Cheesesteak, Sandwiches, Alcohol           $
3                                                  Pizza           $
4              Breakfast and Brunch, Burgers, Sandwiches         NaN
...                                                  ...         ...
63464  American, Breakfast and Brunch, burger, Comfor...           $
63465                                                NaN         NaN
63466                                                NaN         NaN
63467                            Fast Food, Family Meals           $
63468  Everyday Essentials, Convenience, Home &amp; P...           $

[63469 rows x 4 columns]

In [8]:
# Obtener los nombres Ãºnicos de restaurantes en Tampa
tampa_restaurants_names = restaurants_tampa['name'].unique()

# Filtrar el dataset de USA por los nombres de Tampa
filtered_restaurants_usa = restaurants_usa[restaurants_usa['name'].isin(tampa_restaurants_names)]

# Verificar el resultado
print(f"Cantidad de restaurantes filtrados: {len(filtered_restaurants_usa)}")
filtered_restaurants_usa.head()

Cantidad de restaurantes filtrados: 86

,id,name,category,price_range
50,51,China 1,"Chinese, Chicken, Noodles",NaN
1131,1132,Guadalajara Mexican Restaurant,"Mexican, Latin American, New Mexican",$$
1925,1926,Hamburger Mary's,"Burgers, Bar Food",$$
2778,2779,Subway,"Sandwich, American",$
2803,2804,Jersey Mike's Subs,"Sandwich, American, Comfort Food",$

In [9]:
filtered_restaurants_usa['price_range'] = filtered_restaurants_usa['price_range'].fillna(0)

C:\Users\ElRonconZzZ\AppData\Local\Temp\ipykernel_25988\1184419576.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_restaurants_usa['price_range'] = filtered_restaurants_usa['price_range'].fillna(0)

In [10]:
filtered_restaurants_usa['price_range'] = filtered_restaurants_usa['price_range'].replace({
    '$': 1,
    '$$': 2,
    '$$$': 3
})

C:\Users\ElRonconZzZ\AppData\Local\Temp\ipykernel_25988\1586876127.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  filtered_restaurants_usa['price_range'] = filtered_restaurants_usa['price_range'].replace({
C:\Users\ElRonconZzZ\AppData\Local\Temp\ipykernel_25988\1586876127.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_restaurants_usa['price_range'] = filtered_restaurants_usa['price_range'].replace({

In [12]:
# Especificar la ruta de guardado
output_path = r"../../data/processed/web scrapping data/filtered_restaurants_usa.parquet"

# Guardar el dataset filtrado en formato Parquet
filtered_restaurants_usa.to_parquet(output_path, index=False)

print(f"Dataset guardado correctamente en: {output_path}")

Dataset guardado correctamente en: ../../data/processed/web scrapping data/filtered_restaurants_usa.parquet